#background {


}

#connection-area {
	width:980px ;
	height:480px;
	background-color: #DDDDDD;
}

#video-container {
	width:640px ;
	height:480px;
	background-color: #333333;
	float: left;
}

.status-area {
	width:320px ;
	height:480px;
	background-color: #CCCCCC;
	float: right;
	border-radius: 10px;
	padding-left: 10px;
}

.connection {

	background-color: #CCCCCC;
	width: 500px ;
	height: 500px;
	border-radius: 10px;
	padding-left: 10px;

}

.messages {

	background-color: #AAAAAA;
	width: 290px;
	height: 20px;
	border-radius: 10px;
	font-size: 12px;
	padding-left:7px;
	padding-right:7px;
	padding-top:2px;
	margin:2px;

}

.request {

	background-color: #77cc77;
	width: 290px;
	height: 20px;
	border-radius: 10px;
	font-size: 12px;
	padding-left:7px;
	padding-right:7px;
	padding-top:2px;
	margin:2px;

}

.event {

	background-color: #7777cc;
	width: 290px;
	height: 20px;
	border-radius: 10px;
	font-size: 12px;
	padding-left:7px;
	padding-right:7px;
	padding-top:2px;
	margin:2px;

}

