html, body {
  height: 100%;
  overflow: hidden;
}

#connection-area {
	width:980px ;
	height:480px;
	background-color: #DDDDDD;
}

#video-container {
	position: absolute;
	left: 0px;
	top:0px;
	bottom: 0px;
	right: 0px;
	/*
	width:640px ;
	height:480px;
	*/
	background-color: #333333;
	float: left;
}

#video-container #camera {
	width: 100%;
	height: 100%;
}

.status-area {
	width:320px ;
	height:480px;
	background-color: #CCCCCC;
	float: right;
	border-radius: 10px;
	padding-left: 10px;

	display:none;
}

.connection {

	background-color: #CCCCCC;
	width: 500px ;
	height: 500px;
	border-radius: 10px;
	padding-left: 10px;

}

.messages {

	background-color: #AAAAAA;
	width: 290px;
	height: 20px;
	border-radius: 10px;
	font-size: 12px;
	padding-left:7px;
	padding-right:7px;
	padding-top:2px;
	margin:2px;

}

.request {

	background-color: #77cc77;
	width: 290px;
	height: 20px;
	border-radius: 10px;
	font-size: 12px;
	padding-left:7px;
	padding-right:7px;
	padding-top:2px;
	margin:2px;

}

.event {

	background-color: #7777cc;
	width: 290px;
	height: 20px;
	border-radius: 10px;
	font-size: 12px;
	padding-left:7px;
	padding-right:7px;
	padding-top:2px;
	margin:2px;

}

.camera-ui {

	height: 120px;
	width: 220px;
	padding: 30px;
	line-height: 50px;

	border-radius: 20px;
	text-align: center;
	vertical-align: middle;

	position: absolute;
	background-color: #DDDDDD;
	opacity: 0.9;
	left: 50%;
	margin-left: -140px;
	top: 50%;
	margin-top: -90px;

}

.pc-ui {

	height: 120px;
	width: 350px;
	padding: 30px;

	border-radius: 20px;
	text-align: center;
	vertical-align: middle;

	position: absolute;
	background-color: #DDDDDD;
	opacity: 0.9;
	left: 50%;
	margin-left: -205px;
	top: 50%;
	margin-top: -90px;

}

.connected-ui {

	display: none;

}

#photo-stream {
	height: 100%;
	width: 245px;

	position: absolute;
	top: 0px;
	right:0px;

	background-color: #888888;

	overflow-y: scroll;
}

.photo {

	float: right;
	margin-right: 10px;
	margin-top: 10px;

	width:225px;
	height:168.75px;
}

#inner-shutter {
    width:56px;
    height:56px;
    border-radius: 28px;

    position: absolute;
    bottom: 10%;
    margin-bottom: -28px;
    left: 50%;
    margin-left: -28px;

    background-color: #CC0000;
    opacity: 0.3;
}

#outer-shutter {
    width:70px;
    height:70px;
    border-radius: 35px;

    position: absolute;
    bottom: 10%;
    margin-bottom: -35px;
    left: 50%;
    margin-left: -35px;

    background-color: #CC0000;
    opacity: 0.1;
}

.custom-button {

	width: 110px;
	height: 30px;
	border-radius: 15px;
	line-height: 30px;

	position: absolute;
	left: 50%;
	margin-left: -55px;
	margin-top: 10px;

	opacity: 0.5;

}

#connect-button {

	background-color: #2255AA;

}

#call-button {

	background-color: #22AA55;
	display: none;

}

